brand = ['Camp', 'Camp', 'Petzl', 'Petzl', 'Edelrid', 'Edelrid', 'Edelrid’, 'Black Diamond', 'Black Diamond','Mammut']

models = ['Energy', 'Jasper', 'Simba', 'Adjama New', 'Moe', 'Orion', 'Leaf','Xenes', 'Chaos', 'Ophir']

prices = [39.90, 56.00, 45.00, 75.00, 49.90, 99.90, 65.00, 119.90, 99.90, 55.00]

In [2]:
import pandas as pd
from pandas import Series
#1.Crea las listas brand, models y prices citadas anteriormente.
brand = pd.Series(['Camp', 'Camp', 'Petzl', 'Petzl', 'Edelrid', 'Edelrid', 'Edelrid', 'Black Diamond', 'Black Diamond','Mammut'])
models = pd.Series(['Energy', 'Jasper', 'Simba', 'Adjama New', 'Moe', 'Orion', 'Leaf','Xenes', 'Chaos', 'Ophir'])
prices = pd.Series([39.90, 56.00, 45.00, 75.00, 49.90, 99.90, 65.00, 119.90, 99.90, 55.00])

brand
models
prices

0     39.9
1     56.0
2     45.0
3     75.0
4     49.9
5     99.9
6     65.0
7    119.9
8     99.9
9     55.0
dtype: float64

In [3]:
#2.Define una Series en la que models sean los índices y prices los valores
series_def = pd.Series([39.90, 56.00, 45.00, 75.00, 49.90, 99.90, 65.00, 119.90, 99.90, 55.00], index=['Energy', 'Jasper', 'Simba', 'Adjama New', 'Moe', 'Orion', 'Leaf','Xenes', 'Chaos', 'Ophir'])
series_def

Energy         39.9
Jasper         56.0
Simba          45.0
Adjama New     75.0
Moe            49.9
Orion          99.9
Leaf           65.0
Xenes         119.9
Chaos          99.9
Ophir          55.0
dtype: float64

In [4]:
#3.Muestra los modelos con el precio menor que 70 euros.
series_def[prices.values <= 70]

Energy    39.9
Jasper    56.0
Simba     45.0
Moe       49.9
Leaf      65.0
Ophir     55.0
dtype: float64

In [10]:
#4.Define una nueva Series que contenta el precio original para todos los productos excepto para la marca (brand) “Edelrid”, a la que hay que realizarle el 10% de descuento.
import numpy as np
series_new = pd.DataFrame({ 'brand' : brand,
    'models' : models,
    'prices' : prices
}, columns=['brand', 'models','prices'])


# series_new['descuento'] = series_new['prices']*0.90
series_new['prices']=series_new['prices'].replace([49.9,99.9,65.0],[49.9*0.9,99.99*0.9, 65*0.9])

# series_new['descuento'] = series_new[prices.values == 49.9 and prices.values == 99.99 and prices.values == 65.0]*0.90
series_new['sin descuento'] = 0#AGREGAR UNA COLUMNA NUEVA CON VALOR CERO

series_new

# df_employees[df_employees['telephone'].str.contains('57')]
#ESTO SON APUNTES MIOS
# series_new.loc[[4,5,6],['brand','prices','descuento']] #aqui selecciono solo los datos necesarios para mostrar por ejemplo con el descuento

           brand      models   prices  sin descuento
0           Camp      Energy   39.900              0
1           Camp      Jasper   56.000              0
2          Petzl       Simba   45.000              0
3          Petzl  Adjama New   75.000              0
4        Edelrid         Moe   44.910              0
5        Edelrid       Orion   89.991              0
6        Edelrid        Leaf   58.500              0
7  Black Diamond       Xenes  119.900              0
8  Black Diamond       Chaos   89.991              0
9         Mammut       Ophir   55.000              0