In [3]:
import numpy as np
import pandas as pd

In [4]:
#1. Otener informaciÃ³n del archivo udfs.csv
read_UDFS_csv = pd.read_csv('udfs.csv', sep=';')
read_UDFS_csv
filter_dfFusuion = read_UDFS_csv.loc[:,'string_value'] != 1999
filter_FXSwaps = read_UDFS_csv.loc[filter_dfFusuion]
filter_FXSwaps

,nb,contract,udf_ref,fmly,grp,type,country,udf_name,num_value,string_value,date_value,data_timestamp_part,data_date_part,source_system
0,444444,3333,28786653,IRD,LN_BR,NaN,ESP,M_CCY,NaN,NaN,NaN,20201128041303,2020-12-30,Mx3EU
1,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_CRDTCHRG,30.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
2,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_SELLER,NaN,LB_TLECLER,NaN,20210203032054,2020-12-30,Mx3EU
3,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_LIQDTYCHRG,50.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
4,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_MVA,20.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_SUCURSAL,NaN,1999,NaN,20210203032054,2020-12-30,Mx3EU
382,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_RVA,0.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
383,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_DIRECTIAV,0.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
384,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_CLIENT,NaN,NaN,NaN,20210203032054,2020-12-30,Mx3EU
385,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_DISCMARGIN,10.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU

In [21]:
df_udfs = pd.DataFrame(data=read_UDFS_csv, columns=['nb', 'M_CCY', 'M_CLIENT', 'M_CRDTCHRG', 'M_DIRECTIAV', 'M_DISCMARGIN', 'M_LIQDTYCHRG', 'M_MVA', 'M_RVA', 'M_SELLER', 'M_SUCURSAL'])
df_udfs
# df2 = df1.replace({'col1':{'value1':'new_value1','value2':'new_value2'}})

# df_udfs1 = read_UDFS_csv.copy({'udf_name':{'M_CLIENT':'string_value', 'M_SELLER':'string_value'}})
# # df_udfs
# # df_udfs.to_excel('prueba datos.xlsx')
# print(df_udfs1)

print(read_UDFS_csv['udf_name'][read_UDFS_csv['num_value'] == 'M-CLIENT'].dropna())

Series([], Name: udf_name, dtype: object)

,nb,contract,udf_ref,fmly,grp,type,country,udf_name,num_value,string_value,date_value,data_timestamp_part,data_date_part,source_system
0,444444,3333,28786653,IRD,LN_BR,NaN,ESP,M_CCY,NaN,NaN,NaN,20201128041303,2020-12-30,Mx3EU
1,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_CRDTCHRG,30.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
2,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_SELLER,NaN,LB_TLECLER,NaN,20210203032054,2020-12-30,Mx3EU
3,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_LIQDTYCHRG,50.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
4,2222222,2222222,2222222,IRD,IRS,NaN,ESP,M_MVA,20.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_SUCURSAL,NaN,1999,NaN,20210203032054,2020-12-30,Mx3EU
382,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_RVA,0.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
383,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_DIRECTIAV,0.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU
384,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_CLIENT,NaN,NaN,NaN,20210203032054,2020-12-30,Mx3EU
385,10000009,10000009,10000009,IRD,BOND,FWD,ESP,M_DISCMARGIN,10.0,NaN,NaN,20210203032054,2020-12-30,Mx3EU